/fakeroot
/pkg
/obj
/lib
/test
/bin
/fast.html
/index.html
/interface.html
/resilient.html
/changelog.html
/changelog-body.html
/hallofshame.html
/mandoc.css
/man1.html
/man3.html
/license.html
/projects.html
/stats.html
/dylib.html
/problem.html
/.cache
/assets/js/*
/assets/css/*.css
/assets/css/*.map
/docs/assets/css/mandoc.css
/lib_obj/
