/.cache
/fakeroot
/pkg
/obj
/lib_obj/
/lib
/test
/bin
/src/fast.html
/src/index.html
/src/interface.html
/src/resilient.html
/src/changelog.html
/src/changelog-body.html
/src/hallofshame.html
/src/man1.html
/src/man3.html
/src/license.html
/src/projects.html
/src/stats.html
/src/dylib.html
/src/problem.html
/assets/js/*
/assets/css/*.css
/assets/css/*.map
